/* faqs_style_gamified.css */

body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #ffd966;
    color: #333;
}

header {
    background-color: #4caf50;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #f8f9fa;
    padding: 10px;
}

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        nav ul li {
            display: inline;
            margin-right: 10px;
        }

            nav ul li a {
                text-decoration: none;
                color: #333;
                font-weight: bold;
            }

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #4caf50;
}

.question {
    font-weight: bold;
    color: #4caf50;
}

.answer {
    margin-left: 20px;
}
